<h1>Jobbed Out</h1>
<ul>
	<% @postings.each do |x| %>
	<li>
		<p>Entry number: <%= x.id %></p>
		<h3><%= x.company_name %></h3>
		<h4><%= x.job_title %></h4>
		<h5><%= link_to x.posting_url, x.posting_url %></h5>
	</li>
	<% end %>
</ul> 